@mixin horizontal-navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin verticle-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}